@using front11.Models;
@model List<Course>
@{
	Layout = "_Layout";
}





<div class="wrap animate pop">
    <div class="overlay">
        <div class="overlay-content animate slide-left delay-2">
            <h1 class="animate slide-left pop delay-4">XAUAT</h1>
            <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">Kingdom: <em>Computer</em></p>
        </div>
        <div class="image-content animate slide delay-5"></div>
        <div class="dots animate">
            <div class="dot animate slide-up delay-6"></div>
            <div class="dot animate slide-up delay-7"></div>
            <div class="dot animate slide-up delay-8"></div>
        </div>
    </div>
    <div class="text">
        <p><img class="inset" src="/imgshowstart/Campus.jpg" alt="" />Xi 'an University of Architecture and Technology is located in the historical and cultural city of Xi 'an, with two campuses, Yanta and Caotang, and a university science and technology park. The Yanta campus overlooks the famous Big Wild Goose Pagoda of Tang Dynasty in the south and the world-famous ancient city wall of Ming Dynasty in the north. Caotang Campus is located in the high-tech zone Caosi East Road; University Science Park is located in the south section of Happy Forest Zone of Xi 'an High-tech East Development Zone, with pleasant scenery of Chanba Ecological Park in the east; The two campuses and the science and technology park cover a total area of more than 3700 mu.</p>
        <p>The university has a long history and profound heritage, which can be traced back to the Tianjin Beiyang Western Learning Academy founded in 1895. In 1956, when the national Institutes of higher Learning were adjusted, it was formed by the integration of the former departments of civil engineering, architecture and Municipal affairs of Northeast Institute of Technology, Northwest Institute of Technology, Qingdao Institute of Technology and Sunan Industrial College. It has accumulated the earliest batch of civil engineering, architecture and environment departments (departments) in the history of modern higher education in China. It is called "Xi 'an Institute of Civil Engineering and Architecture" at the time. It is the first undergraduate architecture institution of higher learning in Northwest China, and one of the famous "old eight universities" in civil engineering and architecture. In 1959 and 1963, the school was renamed "Xi 'an Metallurgical Institute" and "Xi 'an Metallurgical Architecture Institute". On March 8, 1994, with the approval of the former State Education Commission, it was renamed Xi 'an University of Architecture and Technology. In 1998, the school was transferred to the Shaanxi Provincial People's Government. It is now a university jointly built by Shaanxi Province, the Ministry of Education and the Ministry of Housing and Urban-Rural Development, and the implementing institution of "National High-level University Project" and "Central and Western Universities Basic Capacity Construction Project".</p>
        <p>After more than 60 years of construction and development, the university's strength has been continuously enhanced, and it has become a multi-disciplinary university with civil architecture, environmental municipal affairs, materials metallurgy and related disciplines as the main subjects, engineering and technology disciplines as the main subjects, engineering, management, art, science, arts, law, philosophy, economics, education and other disciplines coordinated development. The school was awarded the "Special Contribution Award for Architectural Education" by the International Association of Architects (UIA), the "National Advanced Work Unit for Employment" by The State Council, and the school Party Committee was awarded the title of "National Advanced Grass-roots Party Organization" by the Central Committee of the Communist Party of China.</p>
        <p>The university is one of the first units approved by The State Council to grant doctoral, master's and bachelor's degrees. The university has three original national key disciplines (structural engineering, environmental engineering, architectural design and its theory), which were selected as the second round of national "double first-class" training universities in Shaanxi Province, and architecture was selected as the discipline expected to sprint the national "double first-class" construction. At present, the university has 10 doctoral programs, including 8 first-level doctoral programs, 2 professional doctoral programs and 9 post-doctoral mobile stations. There are 44 master's degree programs, including 25 first-level master's degree programs and 19 professional master's degree programs. The doctoral program involves 2 disciplines of engineering and management, and the master's program involves 10 disciplines of engineering, management, art, science, law, philosophy, literature, education, economics, and interdisciplinary disciplines, basically covering all undergraduate majors of the university. Focusing on the goal of "double first-class" construction and constantly strengthening the construction of discipline connotation, the university has achieved milestone achievements in the development of disciplines. The disciplines of architecture, civil engineering, environmental science and engineering have made important breakthroughs in the fifth round of national discipline evaluation, and the four disciplines of urban and rural planning, landscape architecture, management science and engineering, and materials science and engineering have achieved expected results. The advantages of "building science and technology" discipline chain group are more evident. Engineering ranks among the top 1.48‰ in ESI, and materials science, environment and ecology, and chemistry ranks among the top 1% in the world. Architecture and Built Environment is ranked in the top 200 of the QS World University Rankings by Subject. Six disciplines, including civil engineering, environmental science and engineering, chemical engineering, energy science and engineering, biological engineering and metallurgical engineering, were selected into the list of "Soft Science World Top Discipline Ranking".</p>
        <p>The university now has 21 colleges and 67 undergraduate programs, among which, Architecture, Urban and rural Planning, Landscape Architecture, Civil Engineering, Urban Underground Space Engineering, Water Supply and Drainage Science and Engineering, Environmental Engineering, Engineering Management, Material Science and Engineering, Material Forming and Control Engineering, Environmental Design, Building Environment and Energy Application Engineering, Building Electrical and Intelligent, Cultural Industry Management, Metallurgical Engineering, Transportation, Historical Building protection Engineering, Business Administration 27 majors of science, mechanical design, manufacturing and automation, computer science and technology, information management and information system, automation, sculpture, environmental science, visual communication design, engineering mechanics, social sports guidance and management were selected as the national first-class undergraduate major construction point, and 35 majors were selected as the first-class undergraduate major construction point in Shaanxi Province. Architecture, civil engineering, engineering management, urban and rural planning, building environment and energy application engineering, water supply and drainage science and engineering, environmental engineering, material science and engineering, metallurgical engineering, computer science and technology, functional materials, mechanical design and manufacturing and automation, mining engineering, automation, transportation, mineral processing engineering, 16 majors have successively passed the national professional evaluation and recognition Certificate.</p>
        <p>The university has 1 national key laboratory of Green building. 1 national international science and technology cooperation base, 1 national think tank, 1 national achievement research and promotion center, 2 national and local joint engineering research centers, 1 provincial and ministerial collaborative innovation center, 1 national technology transfer demonstration institution, 2 scientist spirit education bases, and 5 national experimental teaching demonstration centers/virtual simulation experiment teaching centers. 3 Class-A qualified design institutes. Relying on the school, Shaanxi Province established "Shaanxi Circular Economy Engineering and Technology Institute", "Shaanxi New Urbanization and Human Settlement Environment Research Institute" and "Shaanxi Membrane Separation Technology Research Institute".</p>
        <p>At present, the total number of students in the school is more than 36,000, including more than 20,000 full-time undergraduates, more than 10,000 postgraduates and more than 200 international students. There are more than 1,900 full-time teachers. He has 1 academician of the Chinese Academy of Engineering, 1 academician of the South African Academy of Sciences, 1 foreign academician of the Russian Academy of Engineering, 10 alumni academicians, 1 national teaching teacher, 1 National teacher ethics pacesetter. 4 national excellent teachers, 3 national model teachers, 1 National excellent educator, 2 winners of the National May Day Labor Medal, 5 winners of the National Outstanding Youth Fund, 4 winners of the National Outstanding Youth Science Fund, 8 members of the "Ten Thousand People Plan", 9 members of the "Ten million Talents Project", 14 members of the National Teaching Steering Committee, and 7 members of the National Evaluation and Certification Committee. There are 4 young and middle-aged experts with outstanding national contributions, 3 young and middle-aged scientific and technological innovation leaders of the Ministry of Science and Technology, 2 winners of the China Youth Science and Technology Award, 14 in-service recipients of special government subsidies of The State Council, 2 candidates of the "New Century Outstanding Talents Support Plan" of the Ministry of Education, 1 approved project team funded by the National Natural Science Foundation of China's Innovative Research Group Science Fund, and national universities Huang Danian teacher team 2, national teaching team 3, formed a neat lineup, reasonable structure, excellent quality, strong teacher team.</p>
        <p>Since 2010, the school has won two second prizes of National technological invention and nine second prizes of National Scientific and technological progress. In total, he has won 10 National Teaching achievement Awards, 3 National Excellent Teaching Materials Awards, 1 "He Liang Heli Foundation Science and Technology Progress Award", 1 "Top Ten Scientific and Technological Progress in Chinese Universities", 1 Scientific Exploration Award, and the first National Innovation Award. In the national major education and teaching reform, the school has been selected as the national "Excellent Engineer Education and Training Program" implementation school, "Graduate professional degree education comprehensive reform pilot unit" and "National high-level university public graduate program platform and outstanding undergraduate international exchange program implementation school"; Selected as "National Demonstration College for Deepening Innovation and Entrepreneurship Education Reform", "Innovative College for Master of Engineering Education" and the first batch of "National Innovation and Entrepreneurship College construction Units"; It was selected as the first "National Graduate Employment Typical Experience College" by the Ministry of Education and the "National Defense Education Characteristic School" by the Ministry of Education. The students of the school have made many achievements in the competition activities, and won 1 gold medal in the 8th China International "Internet +" College Students Innovation and Entrepreneurship Competition; In the 17th "Challenge Cup" National College students extracurricular academic science and technology works competition won a special prize, won the national "Winner Cup"; Won 3 gold MEDALS in the 12th "Challenge Cup" Chinese College Students Entrepreneurship Plan Competition, and won the national "Winning Cup"; Won 3 first prizes in the 6th National College Students Art Exhibition; Won the world's highest award in the 27th International Architectural Association UIA College Student Architectural Design Competition; In addition, he has won the highest awards repeatedly in the National College Students Mathematical Modeling Contest, College Students English Competition, College Students Structural Design Competition, College students Advanced Mapping, e-commerce "Innovation, Creativity and Entrepreneurship" challenge, college BIM graduation Design Innovation Competition, college Digital Art Design Competition, Metallographic Skills Competition, three-dimensional digital competition and other competitions. The school ranked 20th in the National College Student Competition in 2022.</p>
        <p>Over the past 60 years, the school has taken root in the western part of the motherland, and has cast the school-running purpose of "inheriting civilization, creating the future, educating the country and enriching the people with science and technology", condensed the school motto of "self-improvement, honesty, earnestness, source seeking and innovation", and established the excellent school spirit of "honest, solid foundation, simple style and practical work". It has transported more than 300,000 virtuous and talented pillars for national construction, and has become an important training base for national civil construction, environmental municipal and material metallurgy talents.</p>
        <p>We will strive to build the university into a new international building technology highland with the most comprehensive disciplines, the largest training scale and the highest academic level along the Silk Road.</p>
    </div>
</div>


<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 80vh;
        display: grid;
        place-items: center;
        margin: 0;
        padding: 0;
        background: linear-gradient( to right, #008000, #00e600, #b3ffb3, #00e600, #008000 );
        font-family: "Martel Sans", sans-serif;
    }

    h1 {
        font-size: 5.25vmin;
        text-align: center;
        color: white;
    }

    p {
        font-size: max(10pt, 2.5vmin);
        line-height: 1.4;
        color: #0e390e;
        margin-bottom: 1.5rem;
    }

    .wrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 85vmin;
        height: 65vmin;
        margin: 2rem auto;
        border: 8px solid;
        border-image: linear-gradient( -50deg, green, #00b300, forestgreen, green, lightgreen, #00e600, green ) 1;
        transition: 0.3s ease-in-out;
        position: relative;
        overflow: hidden;
        padding: 0;
    }

    .overlay {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1rem 0.75rem;
        background: #186218;
        transition: 0.4s ease-in-out;
        z-index: 1;
    }

    .overlay-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15vmin;
        height: 100%;
        padding: 0.5rem 0 0 0.5rem;
        border: 3px solid;
        border-image: linear-gradient( to bottom, #aea724 5%, forestgreen 35% 65%, #aea724 95% ) 0 0 0 100%;
        transition: 0.3s ease-in-out 0.2s;
        z-index: 1;
    }

    .image-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 60vmin;
        height: 100%;
        background-image: url("/imgshowstart/XAUAT.jpg");
        background-size: cover;
        transition: 0.3s ease-in-out;
        /* border: 1px solid green; */
    }

    .inset {
        max-width: 50%;
        margin: 0.25em 1em 1em 0;
        border-radius: 0.25em;
        float: left;
    }

    .dots {
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 55px;
        height: 4vmin;
        transition: 0.3s ease-in-out 0.3s;
    }

    .dot {
        width: 14px;
        height: 14px;
        background: yellow;
        border: 1px solid indigo;
        border-radius: 50%;
        transition: 0.3s ease-in-out 0.3s;
    }

    .text {
        position: absolute;
        top: 0;
        right: 0;
        width: 60vmin;
        height: 100%;
        padding: 3vmin 4vmin;
        background: #fff;
        box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
        overflow-y: scroll;
    }

    .wrap:hover .overlay {
        transform: translateX(-60vmin);
    }

    .wrap:hover .image-content {
        width: 30vmin;
    }

    .wrap:hover .overlay-content {
        border: none;
        transition-delay: 0.2s;
        transform: translateX(60vmin);
    }

    .wrap:hover .dots {
        transform: translateX(1rem);
    }

        .wrap:hover .dots .dot {
            background: white;
        }

    /* 动画和延迟时间 */
    .animate {
        animation-duration: 0.7s;
        animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
        animation-fill-mode: backwards;
    }
    /* 弹出效果 */
    .pop {
        animation-name: pop;
    }

    @@keyframes pop {
        0% {
            opacity: 0;
            transform: scale(0.5, 0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1, 1);
        }
    }

    /*  滑动效果 */
    .slide {
        animation-name: slide;
    }

    @@keyframes slide {
        0% {
            opacity: 0;
            transform: translate(4em, 0);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    /* 向左滑动 */
    .slide-left {
        animation-name: slide-left;
    }

    @@keyframes slide-left {
        0% {
            opacity: 0;
            transform: translate(-40px, 0);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    .slide-up {
        animation-name: slide-up;
    }

    @@keyframes slide-up {
        0% {
            opacity: 0;
            transform: translateY(3em);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .delay-1 {
        animation-delay: 0.3s;
    }

    .delay-2 {
        animation-delay: 0.6s;
    }

    .delay-3 {
        animation-delay: 0.9s;
    }

    .delay-4 {
        animation-delay: 1.2s;
    }

    .delay-5 {
        animation-delay: 1.5s;
    }

    .delay-6 {
        animation-delay: 1.8s;
    }

    .delay-7 {
        animation-delay: 2.1s;
    }

    .delay-8 {
        animation-delay: 2.4s;
    }
</style>